
@{
    Layout = null;
}

<style>
    .radioBtn {
        text-align:left;
    }

</style>

@using (Html.BeginForm())
{
        <div class="radioBtn">
            <fieldset>
                @foreach (var item in ViewBag.ListItemToManage as List<string>)
                {
                    @Html.RadioButton($"radioBtnName", $"{item}", new { id = $"{item}" })
                    @Html.Label($"{item}")
                    <br />
                }
             </fieldset>
        </div>
        <br />
        <input type="submit" value="To Manager" />
}
